
 <a style='cursor:pointer;' [routerLink]="[index]" 
 routerLinkActive="active"
 class="list-group-item clearfix"  >
   <!--(click)="onclick()"-->
  
      <div class="pull-right">
      <h4 class="list-group-item-heading">{{recipe.name}}</h4>
      <p class="list-group-item-text">{{recipe.description}}</p></div>
      <div class ="pull-left">
        <h4 class="list-group-item-heading"></h4>
         <span>
        <img [src]="recipe.imagePath" alt="" class="img-responsive" style="max-height:50px;">
      </span>
      </div>
      </a>